<%# <link rel="stylesheet" href="/node_modules/react-bootstrap-typeahead/css/Typeahead.css"> %>
<meta property="og:title" content="Record Collector"/>
<meta property="og:image" content="https://i.imgur.com/nMvzDeO.gif" />
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root"></main>
