<meta property="og:title" content="Record Collector">
<meta property="og:description" content="uhhhhhh">
<meta property="og:image" content="https://record-collector-dev.s3.amazonaws.com/Screen+Shot+2021-08-10+at+13.13.13.png">
<meta property="og:url" content="http://record-collector.matthewbarnes.tech/#/">
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<main id="root"></main>
