.album-show-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 13vmax;
}

.album-show-page{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 30% 60%;
    width: 60%;
}

.album-show-info{
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    width: auto;
    padding-right: 4vmax;
}

.album-show-page > img {
    width: 35vmax;
    padding-left: 2vmax;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
}


#album-show-info-name{
    font-size: 2vmax;
    padding-bottom: .5vmax;
}

.digital-purchase-boilerplate{
    font-size: 1.5vmin;
    padding-top: 1vmin;
    padding-bottom: 1.5vmax;
}

.track-grid {
    display: flex;
    flex-flow: column;
    padding-top: 1vmax;
}

