#album-show-pg{
    width: 70%;
    height: 99vh;
    background-color: white;
    margin: auto;
    border: solid grey .1em;
}

.album-show-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 13vmax;
}

.album-show-page{
    display: grid;
    grid-auto-columns: 40% 60%;
    grid-auto-rows: max-content min-content;
    margin-left: 2.5em;
}

.album-show-info{
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    width: auto;
    padding-right: 4vmax;
}

.album-show-page > img {
    width: 35vmax;
    padding-left: 2vmax;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}


#album-show-info-name{
    font-size: 2vmax;
    padding-bottom: .5vmax;
}

.digital-purchase-boilerplate{
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: .5em;
}

.track-grid {
    display: flex;
    flex-flow: column;
    margin-top: 1em;
}

#add-cart-album-btn{
  height: 2em;
  background-color: #738F9B;
  color: white;
  font-weight: 600;
  border-radius: .5em;
  border: none;
}

#add-cart-album-btn:hover {
  cursor: pointer;
  background-color: #bad1db;
}