.album-show-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 12vmax;
}

.album-show-page{
    display: flex;
    flex-flow: row;
    width: 60%;
    justify-content: center;
}

.album-show-info{
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    width: 20vmax;
    padding-right: 4vmax;
}

.album-show-page > img {
    width: 35vmax;
    padding-left: 2vmax;
}


#album-show-info-name{
    font-size: 2vmax;
    padding-bottom: .5vmax;
}

.digital-purchase-boilerplate{
    font-size: 1.5vmin;
    padding-top: 1vmin;
}