/* PHASE 12: Modal */

.cart-modal {
  display: none;
}

.cart-modal.is-open {
  display: block;
}

.cart-modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.cart-modal-form {
  position: absolute;
  top: 14vmax;
  left: 50%;
  margin-left: -220px;
  width: 45vmin;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.cart-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.cart-modal-close:hover {
  color: #f00;
}

.cart-modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.cart-modal-form > p {
  margin: 0 0 20px 0;
}