/* PHASE 12: Modal */

.cart-modal {
  display: none;
}

.cart-modal.is-open {
  display: block;
}

.cart-modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.cart-modal-form {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: absolute;
  top: 14vmax;
  left: 50%;
  margin-left: -220px;
  width: 45vmin;
  padding: 20px;
  background: #ffe9c9;
  z-index: 3;
  border-radius: 5px;
}

.cart-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.cart-modal-close:hover {
  color: #f00;
}

.cart-modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.cart-modal-form > p {
  margin: 0 0 20px 0;
}

#name-album-price{
  margin-left: .5em;
  border: none;
  width: 20%;
  font-family: 'Robot Slab';
  font-weight: 300;
}

.cart-modal-form > .submit{
  margin-right: 2em;
}

#add-cart-modal-btn{
    font-family: 'Roboto Slab';
    background-color: #738F9B;
    color: white;
    font-weight: 400;
    border-radius: .5em;
    border: none;
    width: max-content
}

#add-cart-modal-btn:hover{
  cursor: pointer;
  background-color: #bad1db;
}