.searchbar-container{
    width: 100%;
    height: 4vh; 
}

#typeahead-artist-search{
    background-color: white;
}

.rbt-input-main{
    width: 100%
}

.rbt-close {
    border: none;
    background-color: white;
    font-size: 1em;
}

.rbt-close:hover {
    cursor: pointer;
    color: red;
}

.sr-only{
    display: none;
}

.rbt{
    height:100%
}

.typeahead-option{
    display: flex;
    align-items: center;
    height: 5vh;
}

.typeahead-option > img {
    width: 24px;
    margin-right: 10px;
    border-radius: .25vw;
}

.rbt-aux{
    align-items: center;
    display: flex;
    bottom: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}

