.top-bar-container {
    position: fixed;
    background-color: #ffe9c9;
    top: 0;
    display: flex; 
    flex-flow: wrap;
    justify-content: center; 
    height: auto;
    width: 100%;
    z-index: 2;
    opacity: .975;
    padding-bottom: .5em;
}

.top-bar-greeting{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-bar-text{
    font-style: bold;
}

.session-text{
    padding-top: 2vh;
}


.logo-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 1vmax;
    font-family: 'Mate SC', serif;
}

#logo-text{
    position: absolute;
    font-size: 1.5em;
}

#logo-garnish{
    width: 3em;
    margin-left: -3em;
    margin-top: .5em;
}

.logo-sentence{
    font-family: 'Roboto Slab';
    font-size: 1em;
    font-weight: 300;
    margin-top: .5em;
}

.right-side-elements{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 40%;
    padding-top: 1em;
    justify-content: space-around;
}

.welcome-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logout-button {
    margin-left: 1vw;
    font-family: 'Roboto Slab';
    align-self: center;
    padding-top: .2vmin;
    padding-bottom: .2vmin;
    background-color: #738F9B;
    color: white;
    font-weight: 400;
    border-radius: .5em;
    border: none;
}

.logout-button:hover{
    cursor: pointer;
    background-color: #bad1db;
}

.welcome-name{
    align-self: center;
    padding-bottom: .2vmax;
    // font-family: 'Mate SC', serif;
}

.search-bar{
    width: 35vmax;
}

.top-bar-cart-link {
    padding-left: 1vmin;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.top-bar-cart-link >img{
    width: 2vmax;
    padding: .5vmax;
}

#hire-me-btn{
    font-family: 'Roboto Slab';
    background-color: #738F9B;
    color: white;
    font-weight: 400;
    border-radius: .5em;
    border: none;
    height: 2em;
    align-self: flex-end;
    margin: .5em;
}

#hire-me-btn:hover{
  cursor: pointer;
  background-color: #bad1db;
}