.hp-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 6em;
}

.money-counter{
    padding: 1.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}

.hp-album-grid-container > h3{
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 1.25em;
}

.hp-album-grid-container{
    padding-right: 5vmax;
    padding-bottom: 5vmax;
    padding-left: 5vmax;
    z-index: 1;
}

.hp-album-grid{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    align-content: space-around;
    width: 100%
}

.hp-album{
    padding-top: 5%;
    font-family: 'Roboto', serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vmin
}

.hp-album-img{
    min-width: 8em;
    max-width: 10em;
}

.hp-album-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

.hp-album-title{
    padding-bottom: .5vmax;
    font-size: 1.75vmin;
}
.hp-album-artist{
    font-size: 1.75vmin;
}

.hp-album > li {
    margin-top: .25em;
}





