.HPFeaturesContainer{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.HPFeaturesContainer > img {
    max-width: 65%;
    height: auto
}

.hp-album > img {
    border-radius: .25em;
}

#feature-text{
    position: absolute;
    color: white;
    margin-top: 30em;
}
