.top-bar {
    position: sticky;
    top: 0;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-between; 
    /* overflow: hidden; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%
}

.header-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@font-face {
    font-family: 'Banto';
    src:url('/Banto/EOT/Banto1.8Trial-Regular.eot');
    font-weight: normal;
    font-style: normal;
}

.logo-text{
    font-family: Banto;
}



.header-link{
    align-self: center;
}

.header-button {
    margin-left: 1vw;
}

.header-name {
    align-self: center;
}

#logo {
    width: 8%;
    height: 8%
}