#artist-show-albums{
    background-color: white;
    display: flex;
    flex-flow: row-reverse;
    padding-top: 12vh;
    width: 70%;
    margin: auto;
    border-color: grey;
    border-style: solid;
    border-width: 0px .1em 0em .1em;
    height: 88vh;
}
#artist-show-single-album{
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 12vh;
    width: 70%;
    margin: auto;
    height: 88vh;
    border-color: grey;
    border-style: solid;
    border-width: 0px .1em 0em .1em;
}

#artist-show-info-album{
    justify-self: flex-end;
    padding: 2em 1.5em 0em 2em;
    max-width: 60em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#artist-show-info-albums{
    justify-self: flex-end; 
    padding-right: 3em;
    padding-top: 1.5em;
    width: 30%
}

#artist-img-grid {
    max-width: 100%;
    border-radius: .25em;
}

#artist-img-solo{
    border-radius: .25em;
    max-width: 30%;
}

.album-grid{
    padding: 1.5em;
    justify-self: center;
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    column-gap: 1em;
    row-gap: 1em;
    width: 50%;
    height: fit-content;
}

.single-album-artist-show{
    padding:1.5em;
    justify-self: center;
    flex-grow: 2;
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    column-gap: 1em;
}

.artist-show-album-item{
    width: 95%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.single-album-artist-show-img{
    width: 25em;
}

.artist-show-album-img {
    max-width: 100%;
    width: 20em;
}
