.artist-show-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.artist-show-info{
    justify-self: flex-end; 
    // flex-grow: 1;
    padding: 2vw
}

.album-grid{
    padding: 2vw; 
    justify-self: center;
    flex-grow: 2;
    display: grid; 
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
}